<!DOCTYPE html>
<html>
   <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}"/>
   </head>
   <body class="samurai">
      <div class="surround"> 
      <h1>Error 404 - Not Found</h1>
      <div style="font-size:100px">&#x1F50D</div>
      <div class="quote">"The belonging you seek is not behind you, it is ahead." - Maz Kanata</div><br />
      <div>The page you requested doesn't exist</div>
      <div>If you entered the URL manually, please check the spelling and try again</div>
      </div>
   </body>
</html>
