<!DOCTYPE html>
<html>
   <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}"/>
   </head>
   <body class="vader_think">
      <div class="surround"> 
      <h1>Error 500 - Internal Error</h1>
      <div style="font-size:100px">&#x1F6A8</div>
      <div class="quote">"Strike me down, and I will become more powerful than you could possibly imagine." - Obi-Wan Kenobi</div><br />
      <div>If you are sure that error is not related to your input data please contact the admin</div>
      </div>
   </body>
</html>
