{% extends 'base.html' %}

{% block content %}
<script>
document.getElementById("wholebody").className = "stormtrooper";
</script>
<div class="surround">
<h1>We are busy folding your protein sequences</h1>
<div style="font-size:100px">&#128752</div>
<div class="quote">"Many of the truths that we clinge to depend on our point of view." - Obi-Wan Kenobi</div><br />
<div>Currently there are to many jobs scheduled</div>
<div>New submissions are blocked to ensure smooth operation</div>
<div>Please try in a few hours again</div>
</div>
{% endblock %}
