{% extends 'base.html' %}

{% block content %}
<script>
document.getElementById("wholebody").className = "vader_think";
</script>
<div class="dynamic_surround">
<h1>Select a file for download</h1>
<div style="font-size:100px">&#x1F4C1</div>
<div class="quote">"Let the wookie win." - C-3PO</div><br />
<FORM name="files" method="POST">
<select name="file", id="file">
    {% for file in files %}
    <option value="{{file}}">{{file}}</option>
    {% endfor %}
</select>
<button class="button">Download</button>
</FORM>
</div>
{% endblock %}
