{% extends 'base.html' %}

{% block content %}
<script>
document.getElementById("wholebody").className = "stormtrooper";
</script>
<div class="surround">
<h1>Strubi Local Fold Server</h1>
<div style="font-size:100px">👨‍🚀</div>
<div class="quote">"Do or do not. There is no try." - Yoda</div><br />
<div>There is/are <strong>currently <a value="{{number}}">{{number}}</a> job(s) in the pipeline</strong></div><br />
<!-- <iframe src="https://giphy.com/embed/SiEz6hxdcJuOf2n3TE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
<iframe src="https://giphy.com/embed/Nx0rz3jtxtEre" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<div>Since <strong><a value="{{start_date}}">{{start_date}}</a> <a value="{{n_jobs}}">{{n_jobs}}</a></strong>  proteins were folded</div><br />
</div>
{% endblock %}
