{% extends 'base.html' %}

{% block content %}
<script>
document.getElementById("wholebody").className = "stormtrooper";
</script>
<div class="surround">
<h1>Strubi Local ColabFold Server</h1>
<div style="font-size:100px">👨‍🚀</div>
<div class="quote">"Do or do not. There is no try." - Yoda</div><br />
<div>There is/are <strong>currently <a value="{{number}}">{{number}}</a> job(s) in the pipeline</strong></div><br />
<iframe src="https://giphy.com/embed/SiEz6hxdcJuOf2n3TE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
{% endblock %}
